apiVersion: v1
kind: Pod
metadata:
  name: test-pod
  labels:
    app: test-pod
spec:
  containers:
  - name: test-container
    image: nginx:alpine
    ports:
    - containerPort: 80
  restartPolicy: Never
---
apiVersion: v1
kind: Service
metadata:
  name: test-pod-service
spec:
  selector:
    app: test-pod
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
